<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Beginners</title>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
  <style>
    body {
      margin: 5%;
      font-family: 'Quicksand', sans-serif;
    }

    .active {
      background-color: seagreen;
      border: 0;
      padding: 5px;
    }

    .error {
      color: red;
    }

    .input-group {
      margin-bottom: 5px;
    }
  </style>
</head>

<body>
  <div id="app">
    <header-component nama="Vuejs" gambar="img/logo.png"></header-component>

    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/kelas">Kelas</router-link>
    </nav>

    <main>
      <router-view v-bind:items="kelas" v-on:tambahkelas="submitkelas" v-on:hapuskelas="deletekelas"></router-view>
    </main>

    <footer-component>
      <p>Vuejs tutorial - kepuright 2021</p>
    </footer-component>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


  <script>
    const Home = {
      template: '<div>Home</div>'
    }

    const About = {
      template: '<div>About</div>'
    }

    const Kelas = {
      props: ['items'],
      template: `
        <div>
          <h3>Tambah Kelas</h3>
          
          <form v-on:submit.prevent="tambahkelas">
            <div class="input-group">
              <input type="text" v-model="kelas.judul" placeholder="Nama Kelas">
              <div class="error" v-if="error.judul"><small>{{ error.judul }}</small></div>
            </div>

            <div class="input-group">
              <label>Deskripsi: </label> <br>
              <textarea v-model="kelas.deskripsi"></textarea>
              <div class="error" v-if="error.deskripsi"><small>{{ error.deskripsi }}</small></div>
            </div>

            <div class="input-group">
              <p><img :src="previewimg" v-if="previewimg" width="200" /></p>
              <label>Masukkan Gambar</label> <br>
              <input type="file" ref="gambar" v-on:change="upload">
            </div>
            <button type="submit">Submit</button>
          </form>

          <hr>
          <h3>Daftar Kelas ({{ items.length }})</h3>

          <template v-if="items.length">
            <ul>
              <li v-for="(item, index) in items">
                <img :src="'img/' + item.gambar" width="200" />
                <p>
                  {{ index+1 }} - {{ item.judul }}
                  <a href="" v-on:click.prevent="$emit('hapuskelas', item.id)">hapus</a>
                </p>
              </li>
            </ul>
          </template>

          <li v-else>kelas belum tersedia.</li>
        </div>
      `,
      data: function () {
        return {
          kelas: {
            judul: '',
            deskripsi: '',
            gambar: ''
          },
          previewimg: '',
          error: {
            judul: '',
            deskripsi: ''
          }
        }
      },
      methods: {
        tambahkelas: function () {
          this.error.judul = ''
          this.error.deskripsi = ''

          if (this.kelas.judul == '') {
            this.error.judul = 'Judul harus diisi!'
          }

          if (this.kelas.deskripsi == '') {
            this.error.deskripsi = 'Deskripsi harus diisi!'
          }

          if (this.kelas.judul && this.kelas.deskripsi) {
            const data = {
              id: uuidv4(),
              judul: this.kelas.judul,
              deskripsi: this.kelas.deskripsi,
              gambar: this.kelas.gambar
            }

            this.$emit('tambahkelas', data)

            this.kelas.judul = "",
              this.kelas.deskripsi = "",
              this.kelas.gambar = "",
              this.previewimg = "",
              this.$refs.gambar.value = ""
          }
        },
        upload: function (event) {
          const namagambar = (event.target.files[0].name)
          this.kelas.gambar = namagambar
          this.previewimg = URL.createObjectURL(event.target.files[0])
        }
      }
    }

    const NotFound = {
      template: '<div>Halaman Tidak Ditemukan!</div>'
    }

    Vue.component('header-component', {
      props: ['nama', 'gambar'],
      template: `
        <header>
          <img :src="gambar" width="100">
          <p>{{ 'Hello, ' + nama }}</p>
        </header>
      `,
      data: function () {
        return {
          pesan: 'Hello, Component!'
        }
      }
    })

    Vue.component('footer-component', {
      template: `
        <footer>
          <slot></slot>
        </footer>
      `
    })

    const routes = [
      { path: '/', component: Home },
      { path: '/about', component: About },
      { path: '/kelas', component: Kelas },
      { path: '*', component: NotFound },
    ]

    const router = new VueRouter({
      mode: 'history',
      routes // short for `routes: routes`
    })

    const vm = new Vue({
      el: '#app',
      router,
      components: {
        'home': Home
      },
      data: {
        kelas: []
      },
      created() {
        this.kelas = JSON.parse(localStorage.getItem('kelas')) || []
      },
      methods: {
        deletekelas: function (id) {
          this.kelas = this.kelas.filter(item => item.id != id)
          localStorage.setItem('kelas', JSON.stringify(this.kelas))

          swal({
            text: 'Data kelas berhasil dihapus',
            icon: 'warning'
          })
        },
        submitkelas: function (data) {
          this.kelas.push(data)
          localStorage.setItem('kelas', JSON.stringify(this.kelas))

          swal({
            title: data.judul,
            text: 'Data kelas berhasil disimpan',
            icon: 'success'
          })
        }
      },
      computed: {
      }
    })

  </script>
</body>

</html>